<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">Wishlist</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Hjem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
</div>

<div class="container-sm">
    <div class="card">
        <h5 class="card-header">Find din ønskeliste</h5>
        <div class="card-body">
            <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" id="listID" th:field="*{loginURL}" aria-describedby="loginInput" placeholder="Indtast dit ønskeliste URL">
                </div>
                    <button type="submit" class="btn btn-primary">Søg</button>
                </form>
    </div>
        </div>
        <div class="card mt-3">
            <h5 class="card-header">Klik for at oprette en ønskeliste</h5>
            <div class="card-body">
            <form action="#" th:action="@{/login/create}" method="post">
                <button type="submit" class="btn btn-primary">Opret ønske</button>
            </form>
                </div>
        </div>
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>   <title>Login page</title>
</html>