<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<title>Wishlist view</title>
<body>
<div th:insert="~{fragments :: header}"></div>
<table class="table table-primary">
    <thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>url</th>
        <th>comments</th>
        <th>price</th>
        <th>isReserved</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${session.wishlist == null or session.wishlist.wishes.isEmpty()}">
        <td colspan="6">Ingen registrerede ønsker</td>
    </tr>
    <tr th:each="element: ${session.wishlist.wishes}">
    <td th:text="${element.name}"></td>
    <td th:text="${element.description}"></td>
    <td th:text="${element.productURL}"></td>
    <td th:text="${element.comments}"></td>
    <td th:text="${element.price}"></td>
    <td th:text="${element.isReserved()}"></td>
        <td><a th:href="@{/wishlist/edit/{wishName}(wishName=${element.name})}"><button class="btn btn-primary">Rediger ønske</button></a></td>
    </tr>
    </tbody>

</table>


</body>
</html>